.DS_Store
._.DS_Store
.cache
.eslintcache
.idea
.node_repl_history
.vscode
.watchmanconfig
.yarn-integrity
*.env
*.env.local
*.env.production
*.lock
*.log
*.pid
*.pid.lock
*.rbc
!.sample.env
*.seed
*.sock
*.tsbuildinfo
*.[oa]
app/routes.old
app/tailwind.css
build
logs
npm-debug.log*
node_modules
package-lock.json
pids
public/build
tmp
yarn-debug.log*
yarn-error.log*
TODO.tsx
.yarn
app/routes/*.tsx
